* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f0f0f0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  width: 1230px;
  height: 2327px;
  border: 1px solid green;
  margin: 0 auto;
}

/* --header-- */
.header {
  width: 1230px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  margin: 27px 28px 35px 32px;
}

.header__logo {
  background-image: url(./assets/icons/Logo1.png);
  background-repeat: no-repeat;
  width: 72px;
  height: 89px;
}

form {
  margin-left: 78px;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 430px;
  height: 36px;
}

input[type='search'] {
  font-family: 'Montserrat', sans-serif;
  color: #919191;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  position: relative;
  z-index: 1;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #f0f0f0;
  width: 430px;
  height: 36px;
  padding-left: 12px;
  outline: none;
  -webkit-appearance: none;
}

input[type='submit'] {
  position: absolute;
  z-index: 5;
  border: 1px solid #fff;
  border-left: 1px solid #0099d2;
  border-radius: 3px;
  background-color: #0099d2;
  background-image: url(./assets/icons/btn.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.header__user {
  display: flex;
  color: #919191;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.header__user-bag,
.header__user-login {
  cursor: pointer;
}

.header__user-bag {
  background-image: url(./assets/icons/qty.png);
  background-repeat: no-repeat;
  background-position: top right;
  width: 62px;
  margin-left: 33px;
  padding-left: 2px;
}

/* -----navigation--- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #dceef7;
  width: 1230px;
  height: 46px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1045px;
  margin-left: 18px;
}

nav a {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

nav a:nth-child(8) {
  color: #0099d2;
}

.nav__switch-font-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 106px;
}

.nav__switch-font-size-9,
.nav__switch-font-size-12,
.nav__switch-font-size-14 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.nav__switch-font-size-9 {
  font-size: 9px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: #0099d2;
}

.nav__switch-font-size-12 {
  font-size: 12px;
  color: #fff;
}

.nav__switch-font-size-14 {
  font-size: 14px;
  font-weight: 700;
}

.nav__tablet {
  display: none;
}

.nav__tablet-icon {
  background-image: url(./assets/icons/menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.nav__tablet-icon:hover {
  background-color: #dceef7;  
  width: 100px;
  height: 160px;
  margin-top: 140px;
}

.nav__tablet-icon:hover ul {
  display: block;

}

ul {
  display: none;
  z-index: 60;
  color: #0099d2;
  background-color: #dceef7;
  position: relative;
  width: 100px;
  height: 160px;

}

li {
  z-index: 60;
  width: 100px;
 }

 li a:hover{
  color: #0099d2;
 }



/*-----main-------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(./assets/image/breather-196132.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  z-index: 1;
  width: 1230px;
  height: 450px;
}

.main__slider-arrow-right,
.main__slider-arrow-left {
  z-index: 10;
  width: 32px;
  height: 60px;
  margin: 0 40px 0 50px;
  cursor: pointer;
}

.main__slider-arrow-left {
  background-image: url(./assets/icons/arrow-left.png);
}

.main__slider-arrow-right {
  background-image: url(./assets/icons/arrow-right.png);
}

.main__slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 478px;
  height: 450px;
}

.main__slider-h2 {
  color: #2f2f2f;
  font-size: 36px;
  font-weight: 800;
  line-height: 48px;
  margin: 150px 0 20px 0;
}

.main__slider-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #919191;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 478px;
  margin: 0px 0 145px 0;
}

.main__slider-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__slider-dots-left,
.main__slider-dots-center,
.main__slider-dots-right {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #919191;
  background-color: #ffffff;
  width: 9px;
  height: 9px;
  margin-left: 8px;
  cursor: pointer;
}


.main__slider-dots-center {
  border-color: #0099d2;
}

/*--- ---main__news-grid---- */
.main__h2 {
  color: #2f2f2f;
  font-size: 36px;
  font-weight: 800;
  line-height: 18px;
  margin: 84px 0 94px;
}

.main__news-grid {
  display: grid;
  grid-template-columns: 570px 570px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 79px;
}

.main__news-grid-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 1px;
  border-color: #f0f0f0;
  border-style: solid;
  background-color: #ffffff;
  width: 568px;
  height: 304px;
}

.main__news-grid-item__img,
.main__news-grid-item__description {
  width: 284px;
  height: 304px;
}

.main__news-grid-item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

}

.main__news-grid-item__h3 {
  color: #2f2f2f;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
  width: 260px;
  margin: 25px 0 11px 0;
}

.main__news-grid-item__p {
  color: #919191;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

/* .main__news-grid-item__button {} */

.main__news-grid-item__button button {
  border: 1px;
  border-color: #0099d2;
  background-color: #0099d2;
  width: 180px;
  height: 42px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 63px 0 0 0;
}

/* --main-parallax--- */

.main__parallax {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-image: url(./assets/image/bench-accounting-49909.png);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  width: 1230px;
  height: 342px;
}

.main__parallax-h2 {
  color: #2f2f2f;
  font-size: 36px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  margin: 82px 0 32px 0;
}

.main__parallax-p {
  color: #919191;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.main__parallax-handshake {
  background-image: url(./assets/icons/handshake.png);
  background-repeat: no-repeat;
  width: 46px;
  height: 40px;
  margin-top: 28px;
}

/* ---footer---- */

.footer__slogan-line {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dceef7;
  width: 1230px;
  height: 54px;
  margin: 5px 0;
}

.footer__slogan-line-img {
  background-image: url(./assets/icons/present.png);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  margin-right: 30px;
}

.footer__slogan-line-h3 {
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  margin-top: 2px;
}

.footer__slogan-line p,
.footer__slogan-line a {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  margin-top: 2px;
}

.footer__section {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  border-top: 1px solid #f0f0f0;
  background-color: #fff;
  width: 1230px;
  height: 208px;
}

.footer__section-item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 20px;
  margin-right: 167px;
}


.footer__section-item:first-child {
  margin-left: 32px;
  margin-top: 20px;
  margin-right: 151px;
}

.footer__section-h3 {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  margin-bottom: 22px;
}

.footer__section-item:first-child .footer__section-h3 {
  margin-bottom: 11px;
}

.footer__section-item:nth-child(4) .footer__section-h3 {
  margin-left: 36px;
}

.footer__section-item:nth-child(3) {
  margin-right: 110px;
}

.footer__section a {
  display: flex;
  color: #919191;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
}

a div {
  color: #919191;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  padding-right: 28px;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #919191;
  font-size: 12px;
  font-weight: 300;
  line-height: 32px;
  background-color: #f0f0f0;
  width: 1230px;
  height: 144px;

}

.footer__copyright-logo {
  background-image: url(./assets/icons/Logo2.png);
  background-repeat: no-repeat;
  background-position: left center;
  width: 29px;
  height: 52px;
}







/*----- parallax--- */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}

@media (max-width:780px) {
  body {
    width: 765px;
    min-height: 2327px;
  }
/* --header */
  .header {
    width: 765px;
  }

  .header__search,
  input[type='search'] {
    width: 330px;
  }

  .header__user-bag {
    max-width: 62px;
  }

  nav {
    width: 765px;
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .nav__tablet {
    display: block;
  }
  .nav__switch-font-size{
    margin-right: 30px;
  }
/* --main-- */
.main__slider{
  width: 765px;
}
.main__news-grid{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.main__parallax{
  width: 765px;
}
/* --footer-- */
.footer__slogan-line,
.footer__section,
.footer__copyright {
  width: 765px;
}
.footer__section{
  min-height: 208px;
}
.footer__section-item{
  margin-right: 30px !important;
}
}